<div class="viewer">

    <div class="sidebar" id="sidebar">
        <!--
            Populated by JSTree in component controller
        -->
    </div>

    <div class="editor">

        <!--
            Main view for child node
        -->
        <div *ngIf="!this.currentNode.isRoot()">
            <current-entry [currentNode]="currentNode"
                           [updateEntryForm]="updateEntryForm"
                           (updateTree)="updateTree()"
                           (updateTreeSelection)="updateTreeSelection()"
                           (changeNodeBeingViewed)="changeNodeBeingViewed($event)"
                           (continueActionWithPromptForDirtyValue)="continueActionWithPromptForDirtyValue($event)"
                           (saveValue)="saveValue()"
            ></current-entry>
        </div>

        <!-- List entries -->
        <viewer-entries [currentNode]="currentNode"
                        (updateTree)="updateTree()"
                        (changeNodeBeingViewed)="changeNodeBeingViewed($event)"
        ></viewer-entries>

    </div>

</div>
