<h1>
    <span class="icon icon-copy"></span>
    Import / Export
</h1>
<p>
    Use this page to import and export your password database between different formats, useful for migrating between
    password managers.
</p>

<h2 class="text-center">
    Select Format
</h2>

<ul class="list-group text-center mt-3">
    <li class="list-group-item"
        [ngClass]="{ 'active' : format == 'json' }"
        (click)="format = 'json'"
        title="Imports/exports data as JSON">
        JSON
    </li>
    <li class="list-group-item"
        [ngClass]="{ 'active' : format == 'csv' }"
        (click)="format = 'csv'"
        title="Imports/exports data as comma-separated values">
        CSV
    </li>
</ul>

<h2 class="text-center mt-4">
    Options
</h2>

<div class="form-group text-center">
    <div class="form-check">
        <input id="remoteSync"
               type="checkbox"
               class="form-check-input"
               checked
        />
        <label for="remoteSync" class="form-check-label">
            Include remote sync data
        </label>
    </div>
</div>

<h2 class="text-center mt-5">
    Choose Action
</h2>

<p class="text-center">
    <button class="btn btn-lg btn-default" (click)="chooseImportText()" title="Displays textbox for data to be pasted and imported in chosen data format">
        Import as text
    </button>
    <button class="btn btn-lg btn-default" (click)="chooseImportFile()" title="Prompts for file to import in chosen data format">
        Import from file
    </button>
    <button class="btn btn-lg btn-default" (click)="chooseExportText()" title="This will display the database in the chosen format in a textbox; this may reveal sensitive informnation">
        Export as text
    </button>
    <button class="btn btn-lg btn-default" (click)="chooseExportFile()" title="Saves the database in the chosen format to file">
        Export to file
    </button>
</p>

<div *ngIf="importText">
    <p class="text-center">
        <textarea id="importText" rows="12" cols="100" placeholder="Paste text here to be imported"></textarea>
    </p>

    <p class="text-center">
        <button class="btn btn-lg btn-primary" (click)="chooseImportText()">
            Continue
        </button>
    </p>
</div>

<div *ngIf="exportText != null">
    <h2 class="text-center">
        Result
    </h2>
    <div class="text-center">
        <p>
            <textarea id="exportText" rows="12" cols="100" placeholder="Your database is empty" readonly>{{ exportText }}</textarea>
        </p>
        <p>
            <button class="btn btn-default" (click)="copyText()">
                Copy to Clipboard
            </button>
        </p>
    </div>
</div>

<p *ngIf="log != null">
    <log [log]="log"></log>
</p>

<div class="alert alert-success" *ngIf="success != null">
    {{ success }}
</div>

<div class="alert alert-danger" *ngIf="error != null">
    {{ error }}
</div>
