<div class="form-group">
    <button class="btn btn-danger">
        Clear History
    </button>
</div>

<table class="table">
    <tr>
        <th>
            Created
        </th>
        <th>
            Value
        </th>
        <th>
            Options
        </th>
    </tr>

    <tr *ngIf="currentNode.getHistoryCount() == 0">
        <td colspan="3">
            None
        </td>
    </tr>

    <tr *ngFor="let historicValue of currentNode.getHistory(); trackBy: trackChildren">
        <td>
            {{ historicValue.getFormattedLastModified() }}
        </td>
        <td>
            todo value
        </td>
        <td>
            <button class="btn btn-danger">
                Delete
            </button>
            <button class="btn btn-default">
                Copy to Clipboard
            </button>
        </td>
    </tr>

</table>
