<div class="form-group">
    <button class="btn btn-danger">
        Clear History
    </button>
</div>

<table class="table">
    <tr>
        <th>
            Created
        </th>
        <th>
            Value
        </th>
        <th>
            Options
        </th>
    </tr>

    <tr *ngIf="currentNode.getHistoryCount() == 0">
        <td colspan="3">
            None
        </td>
    </tr>

    <tr *ngFor="let historicValue of (currentNode.getHistory() | orderBy: ['-getLastModified()']); trackBy: trackChildren">
        <td>
            {{ historicValue.getFormattedLastModified() }}
        </td>
        <td>
            <toggle-value [value]="historicValue"></toggle-value>
        </td>
        <td>
            <button class="btn btn-danger" (click)="delete(historicValue)">
                Delete
            </button>
            <button class="btn btn-default" (click)="copyToClipboard(historicValue)">
                Copy to Clipboard
            </button>
        </td>
    </tr>

</table>
