<div class="form-group">
    <button class="btn btn-default" (click)="addNewEntry()">
        <span class="icon icon-plus"></span>
        Add New Entry
    </button>
    <button class="btn btn-danger" (click)="deleteSelected()">
        <span class="icon icon-bin"></span>
        Delete Selected
    </button>
</div>

<table class="table entries" id="currentValueEntries">
    <tr>
        <th>
            <input type="checkbox" *ngIf="currentNode.getChildCount() != 0" (change)="deleteSelectAll($event)" />
        </th>
        <th>
            Name
        </th>
        <th>
            Value
        </th>
        <th>
            Options
        </th>
    </tr>

    <tr *ngIf="!isChildren()">
        <td colspan="4">
            None
        </td>
    </tr>

    <tr *ngFor="let node of (children | orderBy: ['+getName()']); trackBy: trackChildren">
        <td>
            <input type="checkbox" attr.data-node-id="{{ node.id }}" />
        </td>
        <td>
            <span (click)="changeNodeBeingViewed.emit(node.id)">
                {{ node.name != null && node.name.length > 0 ? node.name : "(unnamed)" }}
            </span>
        </td>
        <td>
            <toggle-value [nodeId]="node.id"></toggle-value>
        </td>
        <td>
            <button class="btn btn-primary" (click)="changeNodeBeingViewed.emit(node.id)" title="View entry">
                <span class="icon icon-folder"></span>
                View
            </button>
            <copy-clipboard [nodeId]="node.id"></copy-clipboard>
            <send-keys [nodeId]="node.id"></send-keys>
            <button class="btn btn-danger" (click)="deleteEntry(node.id)" title="Delete">
                <span class="icon icon-cross"></span>
            </button>
        </td>
    </tr>

</table>
