html,
body
{
    background: #444;
    color: #ccc;
}

.header,
input::placeholder,
textarea::placeholder
{
    color: #ccc !important;
}

.jstree-anchor
{
    color: #fff !important;
}

.jstree-anchor .icon
{
    color: #999;
}

.jstree-anchor:hover,
.jstree-anchor:focus
{
    background: #999;
    color: #333 !important;
}

.jstree-anchor:hover .icon,
.jstree-anchor:focus .icon
{
    color: #666;
}

.jstree-default .jstree-clicked
{
    background: #999;
    color: #333 !important;
}
.jstree-default .jstree-clicked .icon
{
    color: #333;
}

.btn.btn-default
{
    background: #999 !important;
    color: #333 !important;
    border: none;
}

.btn.btn-default:hover,
.btn.btn-default:focus
{
    background: #aaa !important;
}

input.form-control,
select.form-control,
textarea
{
    background: #666 !important;
    color: #fff !important;
    border: none !important;
}

.nav li a
{
    background: #333 !important;
    color: #fff !important;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

.nav li a.active
{
    background: none !important;
}

.nav,
.nav li a
{
    border-color: #333 !important;
}

.title-input
{
    color: #fff;
}


.modal-content,
.card-body
{
    background: #444;
}

.search-reset
{
    color: #333;
}

.list-group-item,
.card-header,
.input-group-text
{
    background: #333;
}

.list-group-item:hover,
.list-group-item:focus,
.list-group-item.active
{
    background: #000;
    border-color: #000;
}

.card,
.input-group-text
{
    border: solid 1px #333;
    color: inherit;
}
