<main>

    <h1>
        create
    </h1>

    <form>
        <div class="form-group">
            <label for="location">
                Location
            </label>
            <input id="location" type="file" class="form-control-file" />
        </div>
        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input id="password" type="password" class="form-control" placeholder="Make it secure!" />
        </div>
        <div class="form-group">
            <label for="rounds">
                Rounds
            </label>
            <input id="rounds" type="number" class="form-control" value="65536" min="10" max="65536" />
        </div>
        <button type="submit" class="btn btn-primary">
            Create
        </button>
    </form>

</main>
