<div [formGroup]="globalSettingsForm" #form="ngForm">
    <div class="form-group">
        <label class="form-control-label" for="remoteSyncInterval">
            Keyboard layout
        </label>
        <select id="keyboardLayout" class="form-control"
                (change)="sendKeysService.refreshKeyboardLayout()"
                formControlName="keyboardLayout"  [(ngModel)]="globalSettingsForm.value['keyboardLayout']">

            <option value="">automatic - {{ sendKeysService.getKeyboardLayout().getName() }}</option>
            <option *ngFor="let layout of sendKeysService.getKeyboardLayouts(); trackBy: trackChildrenKeyboardLayouts">{{ layout.getName() }}</option>
        </select>
        <small class="form-text text-muted">
            This layout will be used to emulate keys to send passwords to other applications.
        </small>
    </div>
</div>


<h2>
    Manage Layouts
</h2>

<p>
    The settings below can be used to create and manage keyboard layouts.
</p>

<div class="form-group button-docs">
    <button class="btn btn-primary" (click)="browserService.open('keyboardLayoutDocs')">
        <span class="icon icon-github"></span>
        Docs
    </button>
    <button class="btn btn-default" (click)="browserService.open('keyboardLayoutDocs')">
        <span class="icon icon-earth"></span>
        VK Constants
    </button>
    <button class="btn btn-default" (click)="sendKeysService.openLocalUserDirectory()">
        <span class="icon icon-folder"></span>
        Open Local User Preferences
    </button>
    <button class="btn btn-default" (click)="sendKeysService.openWorkingDirectory()">
        <span class="icon icon-folder"></span>
        Open Working Directory
    </button>
</div>

<div class="form-group">
    <label class="form-control-label">
        Error messages
    </label>
    <textarea rows="4" class="form-control" id="keyboardLayoutMessages" disabled="disabled">{{ reloadErrorMessages }}</textarea>
</div>

<div class="form-group">
    <button class="btn btn-primary" (click)="reloadKeyboardLayouts()">
        <span class="icon icon-loop2 syncing"></span>
        Reload layouts
    </button>
</div>


<h3>
    Generate Key Mappings
</h3>

<div class="form-group">
    <label class="form-control-label">
        Type character
    </label>
    <input id="keyboardLayoutTestInput"
           type="text"
           class="form-control"
           placeholder="Type character here"
           (keydown)="storeKeyCodePressedTester($event)"
           (keyup)="generateMappingTester()"
    />
    <small class="form-text text-muted">
        Hold a key down and the mapping will be generated below.
    </small>
</div>

<div class="form-group">
    <label class="form-control-label">
        Mapping Output
    </label>
    <textarea id="keyboardLayoutTestOutput"
           rows="8"
           class="form-control"
           placeholder="Mapping line will be outputted here"
           readonly
    ></textarea>
    <small class="form-text text-muted">
        Copy the above mapping into a keyboard layout file.
    </small>
</div>

<div class="form-group">
    <button class="btn btn-default" (click)="copyKeyCodes()">
        <span class="icon icon-copy"></span>
        Copy
    </button>
    <button class="btn btn-default" (click)="clearKeyCodes()">
        <span class="icon icon-bin"></span>
        Clear
    </button>
</div>


<h3>
    Test Mappings
</h3>

<div class="form-group">
    <label class="form-control-label">
        Input
    </label>
    <div class="input-group">
        <input id="keyboardLayoutSendKeysInput"
               type="text"
               class="form-control"
               placeholder="Enter test data"
        />
        <span class="input-group-btn">
        <button class="btn btn-default" (click)="sendKeysTest()">
            <span class="icon icon-keyboard"></span>
            Send
        </button>
    </span>
    </div>
    <small class="form-text text-muted">
        Enter test data in the above box and click send.
    </small>
</div>

<div class="form-group">
    <label class="form-control-label">
        Output
    </label>
    <input id="keyboardLayoutSendKeysOutput"
           type="text"
           class="form-control"
           placeholder="Result will appear here"
    />
</div>
