header
{
    position: fixed;
    top: 0;
    left: 0
    display: table;
    width: 100%;
    height: 2.2em;
    background: #000;
    color: #ccc;
    overflow: hidden;
}

/* Used to create space between top of page and content; this is due to using fixed positioning on actual header */
.faux-header
{
    height: 2.2em;
}

header > div
{
    display: table-cell;
    white-space: nowrap;
}

/* The inner groups of the div blocks i.e. buttons to the left. */
header > div > div
{
    display: inline-block;
}

/* Inner group separators */
header > div > div:after
{
    content: "|";
}

header > div > div:last-child:after
{
    content: "";
}



header .actions
{
    text-align: left;
}

header .current-file
{
    text-align: center;
    color: #999;
    white-space: normal;
    width: 100%;
}

header .options
{
    text-align: right;
}

header div a
{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 0.4em 0.6em;
    cursor: pointer;
}

header div a span.icon
{
    vertical-align: middle;
}

header div a:hover,
header div a:focus
{
    color: #fff;
    background: #666;
}

header div a.dirty
{
    color: yellow;
}
