<header>
    <div class="actions">

        <div class="general-file" *ngIf="!databaseService.isOpen()">
            <a routerLink="/open" title="Open">
                <span class="icon icon-folder"></span>
            </a>
            <a routerLink="/create" title="Create">
                <span class="icon icon-file-text2"></span>
            </a>
        </div>

        <div class="db-open" *ngIf="databaseService.isOpen()">
            <a title="View Entries" routerLink="/viewer">
                <span class="icon icon-search"></span>
            </a>
            <a title="Backups" routerLink="/backups">
                <span class="icon icon-database"></span>
            </a>
            <a title="Remote Sync" routerLink="/remote-sync">
                <span class="icon icon-loop2"></span>
            </a>
        </div>
        <div class="db-open" *ngIf="databaseService.isOpen()">
            <a title="Save Database" (click)="saveDatabase(false)" [ngClass]="{ 'dirty' : databaseService.isDirty() }">
                <span class="icon icon-floppy-disk"></span>
            </a>
            <a title="Change Database" (click)="attemptToCloseDatabase(false)">
                <span class="icon icon-exit"></span>
            </a>

        </div>

        <div>
            <a routerLink="/settings" title="Settings">
                <span class="icon icon-cog"></span>
            </a>
            <a *ngIf="runtimeService.isDevelopmentMode()" title="Refresh" (click)="runtimeService.refreshPage(router.url)">
                <span class="icon icon-loop2"></span>
            </a>
            <a *ngIf="runtimeService.isDevelopmentMode()" title="Trigger exception" (click)="doesNotExist()">
                <span class="icon icon-warning"></span>
            </a>
        </div>

    </div>

    <div class="current-file" [innerText]="databaseService.getFileName()">
        undefined file
    </div>

    <div class="options">
        <a routerLink="help">
            <span class="icon icon-question"></span>
        </a>
    </div>

</header>

<div class="faux-header"></div>
