<h1>
    <span class="icon icon-cog"></span>
    Settings
</h1>

<div class="row">
    <div class="col-md-3">

        <ul class="list-group" *ngIf="databaseService.isOpen()">
            <li class="list-group-item" (click)="currentTab = 'changePassword'" [ngClass]="{ 'active' : currentTab == 'changePassword' }">
                <span class="icon icon-lock"></span>
                Database Password
            </li>
            <li class="list-group-item" (click)="currentTab = 'databaseOptimisation'" [ngClass]="{ 'active' : currentTab == 'databaseOptimisation' }">
                <span class="icon icon-power"></span>
                Optimisation
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item" (click)="currentTab = 'recentFiles'" [ngClass]="{ 'active' : currentTab == 'recentFiles' }">
                <span class="icon icon-stack"></span>
                Recent Files
            </li>
            <li class="list-group-item" (click)="currentTab = 'backups'" [ngClass]="{ 'active' : currentTab == 'backups' }">
                <span class="icon icon-database"></span>
                Backups
            </li>
            <li class="list-group-item" (click)="currentTab = 'security'" [ngClass]="{ 'active' : currentTab == 'security' }">
                <span class="icon icon-lock"></span>
                Security
            </li>
            <li class="list-group-item" (click)="currentTab = 'remoteSync'" [ngClass]="{ 'active' : currentTab == 'remoteSync' }">
                <span class="icon icon-earth"></span>
                Remote Sync
            </li>
            <li class="list-group-item" (click)="currentTab = 'saving'" [ngClass]="{ 'active' : currentTab == 'saving' }">
                <span class="icon icon-copy"></span>
                Saving &amp; Merging
            </li>
            <li class="list-group-item" (click)="currentTab = 'customisation'" [ngClass]="{ 'active' : currentTab == 'customisation' }">
                <span class="icon icon-magic-wand"></span>
                Customisation
            </li>
            <li class="list-group-item" (click)="currentTab = 'keyboardLayout'" [ngClass]="{ 'active' : currentTab == 'keyboardLayout' }">
                <span class="icon icon-keyboard"></span>
                Keyboard Layout
            </li>
        </ul>

        <ul class="list-group">
            <li class="list-group-item list-group-item-danger" (click)="globalResetToDefault()">
                <span class="icon icon-hammer"></span>
                Reset to Default
            </li>
        </ul>

    </div>
    <div class="col-md-9">

        <div *ngIf="currentTab == 'changePassword' && databaseService.isOpen()">
            <changePassword></changePassword>
        </div>
        <div *ngIf="currentTab == 'databaseOptimisation' && databaseService.isOpen()">
            <databaseOptimisation></databaseOptimisation>
        </div>

        <div *ngIf="currentTab == 'recentFiles'">
            <recentFiles [globalSettingsForm]="globalSettingsForm"></recentFiles>
        </div>
        <div *ngIf="currentTab == 'backups'">
            <backups [globalSettingsForm]="globalSettingsForm"></backups>
        </div>
        <div *ngIf="currentTab == 'security'">
            <security [globalSettingsForm]="globalSettingsForm"></security>
        </div>
        <div *ngIf="currentTab == 'remoteSync'">
            <remoteSync [globalSettingsForm]="globalSettingsForm"></remoteSync>
        </div>
        <div *ngIf="currentTab == 'saving'">
            <saving [globalSettingsForm]="globalSettingsForm"></saving>
        </div>
        <div *ngIf="currentTab == 'customisation'">
            <customisation [globalSettingsForm]="globalSettingsForm"></customisation>
        </div>
        <div *ngIf="currentTab == 'keyboardLayout'">
            <keyboardLayouts [globalSettingsForm]="globalSettingsForm"></keyboardLayouts>
        </div>

    </div>
</div>
