<h1>
    <span class="icon icon-cog"></span>
    Settings
</h1>

<!--
    tabs
-->
<ul class="nav nav-tabs">
    <li (click)="currentTab = 'globalSettings'" [ngClass]="{ 'active' : currentTab == 'globalSettings' }">
        <a>
            <span class="icon icon-cogs"></span>
            Global
        </a>
    </li>
    <li (click)="currentTab = 'changePassword'" *ngIf="databaseService.isOpen()" [ngClass]="{ 'active' : currentTab == 'changePassword' }">
        <a>
            <span class="icon icon-lock"></span>
            Change Database Password
        </a>
    </li>
    <li (click)="currentTab = 'databaseOptimisation'" *ngIf="databaseService.isOpen()" [ngClass]="{ 'active' : currentTab == 'databaseOptimisation' }">
        <a>
            <span class="icon icon-power"></span>
            Optimisation
        </a>
    </li>
</ul>

<!--
    content
-->
<div *ngIf="currentTab == 'globalSettings'">
    <globalSettings></globalSettings>
</div>
<div *ngIf="currentTab == 'changePassword' && databaseService.isOpen()">
    <changePassword></changePassword>
</div>
<div *ngIf="currentTab == 'databaseOptimisation' && databaseService.isOpen()">
    <databaseOptimisation></databaseOptimisation>
</div>
