<div class="viewer">

    <div class="sidebar" id="sidebar">

        <search-box (filter)="updateSearchFilter($event)"></search-box>

        <div id="tree">
            <!--
                Populated by JSTree in component controller
            -->
        </div>

    </div>

    <div class="editor">

        <!--
            main view for child node
        -->
        <current-entry [currentNode]="currentNode"
                       [updateEntryForm]="updateEntryForm"
                       (updateTree)="updateTree()"
                       (updateTreeSelection)="updateTreeSelection()"
                       (changeNodeBeingViewed)="changeNodeBeingViewed($event)"
                       (saveValue)="saveValue()"
        ></current-entry>

        <ul class="nav nav-tabs">
            <li (click)="currentSubView = 'entries'" [ngClass]="{ 'active' : currentSubView == 'entries' }">
                <a>
                    Entries
                </a>
            </li>
            <li *ngIf="!this.currentNode.isRoot()" (click)="currentSubView = 'history'" [ngClass]="{ 'active' : currentSubView == 'history' }">
                <a>
                    History
                </a>
            </li>
        </ul>

        <!-- List entries -->
        <viewer-entries *ngIf="currentSubView == 'entries'"
                        [currentNode]="currentNode"
                        (updateTree)="updateTree()"
                        (changeNodeBeingViewed)="changeNodeBeingViewed($event)"
        ></viewer-entries>

        <!-- List historic values -->
        <history *ngIf="currentSubView == 'history'"
                 [currentNode]="currentNode"
        ></history>

    </div>

</div>
