<h1>
    <span class="icon icon-folder"></span>
    Open
</h1>

<div *ngIf="runtimeService.isStandalone()" class="alert alert-info">
    Running in standalone mode
</div>

<!--
    Error message
-->
<div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>


<!--
    Open from file
-->
<div class="form-group" [ngClass]="{ 'has-error' : errorMessage != null }">
    <button class="btn btn-default form-control" type="button" (click)="chooseDatabaseFile()">
        Local File
    </button>
</div>


<!--
    Open from SSH
-->
<div class="form-group">
    <button routerLink="/sync/ssh" class="btn btn-default form-control" type="button">
        Remote File - SSH
    </button>
</div>


<!--
    A list of recently opened files
-->

<h2 class="mt-5">
    Recent Files
</h2>

<div *ngIf="recentFiles.length == 0" class="no-recent-files">
    <p class="text-center">
        <span class="icon icon-copy"></span>
    </p>
    <p class="text-center">
        You haven't recently opened any files.
    </p>
</div>

<div *ngIf="recentFiles.length > 0">
    <div class="form-group">
        <span class="help-block">
            You can configure automatically opening the last recent file in <a routerLink="/settings/recentFiles">settings</a>.
        </span>
    </div>
    <div *ngFor="let recentFile of recentFiles; trackBy: trackChildren">
        <p class="btn-group form-group">
            <button class="btn btn-default btn-file" (click)="openFile(recentFile.path)">
                {{ recentFile.name }}
            </button>
            <button class="btn btn-danger" title="Remove item from history" (click)="deleteRecentFile(recentFile)">
                <span class="icon icon-cross"></span>
            </button>
        </p>
    </div>
</div>
