<div class="viewer">

    <div class="sidebar" id="sidebar">
    </div>

    <div class="editor">

        <!-- Home/unselected node page -->
        <div class="home" *ngIf="currentNode == null">
            <h1>
                {{ databaseService.getFileName() }}
            </h1>
            <p>
                Select a node to begin editing.
            </p>
        </div>

        <!-- Page to edit a node -->
        <div class="view" *ngIf="currentNode != null">

            <form [formGroup]="updateEntryForm" (ngSubmit)="updateCurrentEntry($event)" #form="ngForm">
                <div class="header">
                    <div class="button">
                        <button class="btn btn-default" *ngIf="!this.currentNode.isRoot()" (click)="changeNodeBeingViewed(currentNode.getParent().getId())">
                            <span class="icon icon-arrow-up2"></span>
                        </button>
                    </div>
                    <div class="title">
                        <input type="text" class="title-input" (change)="updateName($event)" (click)="preUpdateName($event)" value="{{ currentNode.getName() != null ? currentNode.getName() : '(unnamed)' }}" />
                    </div>
                </div>

                <p title="currentNode.getFormattedLastModified()">
                    Last modified: {{ currentNode.getFormattedLastModified() }}
                </p>

                <!-- Current value -->
                <div class="form-group">
                    <label class="form-control-label" for="currentValue">
                        Current Value
                    </label>

                    <textarea id="currentValue"
                              class="form-control"
                              rows="(empty)"
                              formControlName="currentValue"
                    >********</textarea>
                </div>

                <!-- Add/edit entry -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Save Value
                    </button>
                    <button class="btn btn-danger">
                        Delete
                    </button>
                    <button class="btn btn-default" (click)="toggleMask('#currentValue', null, true)">
                        Toggle Masking
                    </button>
                    <button class="btn btn-default">
                        Copy to Clipboard
                    </button>
                    <button class="btn btn-default">
                        Generate Random
                    </button>
                </div>

            </form>

            <!-- List entries -->
            <h2>
                Entries
            </h2>

            <div class="form-group">
                <button class="btn btn-default" (click)="addNewEntry()">
                    Add New Entry
                </button>
                <button class="btn btn-danger" (click)="deleteSelected()">
                    Delete Selected
                </button>
            </div>

            <table class="table entries">
                <tr>
                    <th></th>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Options
                    </th>
                </tr>

                <tr *ngIf="currentNode.getChildCount() == 0">
                    <td colspan="4">
                        None
                    </td>
                </tr>

                <tr *ngFor="let node of currentNode.getChildren(); trackBy: trackChildren">
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        {{ node.getName() != null ? node.getName() : "(unnamed)" }}
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="toggleMask('#' + node.getId() + '-value', node, false)">
                            Toggle Masking
                        </button>
                        <span id="{{ node.getId() }}-value">
                            ********
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-primary" (click)="changeNodeBeingViewed(node.getId())">
                            View
                        </button>
                        <button class="btn btn-danger">
                            Delete
                        </button>
                        <button class="btn btn-default">
                            Copy to Clipboard
                        </button>
                    </td>
                </tr>

            </table>

        </div>

    </div>

</div>
