<div class="viewer">

    <div class="sidebar" id="sidebar">
    </div>

    <div class="editor">

        <!-- Home/unselected node page -->
        <div class="home" *ngIf="currentNode == null">
            <h1>
                {{ databaseService.getFileName() }}
            </h1>
            <p>
                Select a node to begin editing.
            </p>
        </div>

        <!-- Page to edit a node -->
        <div class="view" *ngIf="currentNode != null">
            <h1>
                {{ currentNode.name }}
            </h1>
            <p>
                test
            </p>
        </div>

    </div>

</div>
