.viewer
{
    display: table;
}

.viewer .sidebar,
.viewer .editor
{
    vertical-align: top;
}

.viewer .sidebar
{
    display: table-cell;
    padding: 1em 1em 1em 0;
}

.viewer .editor
{
    display: table-cell;
    padding-left: 1em;
    width: 100%;
}

.viewer .editor table.entries tr td
{
    white-space: nowrap;
}

.viewer .editor table.entries tr td:nth-child(2)
{
    width: 100%;
}
