<div class="viewer">

    <div class="sidebar" id="sidebar">
    </div>

    <div class="editor">

        <!-- Home/unselected node page -->
        <div class="home" *ngIf="currentNode == null">
            <h1>
                {{ databaseService.getFileName() }}
            </h1>
            <p>
                Select a node to begin editing.
            </p>
        </div>

        <!-- Page to edit a node -->
        <div class="view" *ngIf="currentNode != null">

            <h1>
                {{ currentNode.getName() != null ? currentNode.getName() : "(unnamed)" }}
            </h1>

            <p title="currentNode.getFormattedLastModified()">
                Last modified: {{ currentNode.getFormattedLastModified() }}
            </p>

            <!-- Current value -->
            <div class="form-group">
                <label class="form-control-label" for="currentValue">
                    Current Value
                </label>

                <textarea id="currentValue"
                          class="form-control"
                          placeholder="*******"
                          rows="2"
                ></textarea>
            </div>

            <!-- Add/edit entry -->
            <div class="form-group">
                <button class="btn btn-primary">
                    Update
                </button>
                <button class="btn btn-default" (click)="toggleMask('#currentValue', null, true)">
                    Toggle Masking
                </button>
                <button class="btn btn-default">
                    Delete
                </button>
                <button class="btn btn-default">
                    Copy to Clipboard
                </button>
            </div>

            <!-- List entries -->
            <h2>
                Entries
            </h2>

            <div class="form-group">
                <button class="btn btn-default" data-toggle="collapse" data-target="#addEntryForm">
                    Add/Update a Child Entry
                </button>
            </div>

            <form id="addEntryForm" class="collapse" [formGroup]="addEntryForm" (ngSubmit)="addEntry($event)" #form="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="name">
                        Name
                    </label>

                    <input id="name"
                           formControlName="name"
                           type="text"
                           class="form-control"
                           placeholder="The name of the entry"
                           minlength="3" maxlength="128"
                    />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="name">
                        Value
                    </label>

                    <textarea id="value"
                              formControlName="value"
                              class="form-control"
                              placeholder="This input is plain text / not masked"
                              rows="2"
                    ></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">
                        Add/Update
                    </button>
                    <button class="btn btn-default">
                        Toggle Masking
                    </button>
                    <button class="btn btn-default">
                        Generate Random
                    </button>
                </div>

            </form>

            <table class="table">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        Options
                    </th>
                </tr>

                <tr *ngIf="this.currentNode.getChildCount() == 0">
                    <td colspan="3">
                        None
                    </td>
                </tr>

                <tr>
                    <td>
                        example
                    </td>
                    <td>
                        <span id="-value">
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-default" (click)="toggleMask('#currentValue', null, true)">
                            Toggle Masking
                        </button>
                        <button class="btn btn-default">
                            Delete
                        </button>
                        <button class="btn btn-default">
                            Copy to Clipboard
                        </button>
                    </td>
                </tr>

            </table>

        </div>

    </div>

</div>
