table.entries tr td
{
    white-space: nowrap;
}

table.entries tr td:nth-child(2)
{
    cursor: pointer;
}

table.entries tr td:nth-child(3)
{
    width: 100%;
}

.icon-cross
{
    font-size: 0.8em;
}
