<h1>
    open
</h1>

<!--
    Open from file
-->
<div class="form-group" [ngClass]="{ 'has-error' : errorMessage != null }">

    <button class="btn btn-default form-control" type="button" (click)="chooseDatabaseFile()">
        Local File
    </button>

    <span class="help-block">{{ errorMessage }}</span>

</div>


<!--
    Open from SSH
-->

<div class="form-group">

    <button routerLink="/remote-sync/ssh" class="btn btn-default form-control" type="button">
        Remote File - SSH
    </button>

</div>

<!--
    A list of recently opened files
-->
<div *ngIf="recentFiles != null && recentFiles.length > 0">
    <h2>
        recent files
    </h2>

    <div class="form-group" *ngFor="let recentFile of recentFiles; trackBy: trackChildren">
        <button class="form-control btn btn-default" (click)="openFile(recentFile.getFullPath())">
            {{ recentFile.getFileName() }}
        </button>
    </div>

    <div class="form-group">
        <span class="help-block">
            You can enable loading the last recent file, on startup, in <a href="/settings" routerLink="/settings">settings</a>.
        </span>
    </div>

</div>
