<h1>
    Open
</h1>

<!--
    Error message
-->
<div class="alert alert-danger" *ngIf="errorMessage != null">{{ errorMessage }}</div>


<!--
    Open from file
-->
<div class="form-group" [ngClass]="{ 'has-error' : errorMessage != null }">
    <button class="btn btn-default form-control" type="button" (click)="chooseDatabaseFile()">
        Local File
    </button>
</div>


<!--
    Open from SSH
-->
<div class="form-group">
    <button routerLink="/remote-sync/ssh" class="btn btn-default form-control" type="button">
        Remote File - SSH
    </button>
</div>


<!--
    A list of recently opened files
-->
<div *ngIf="recentFiles != null && recentFiles.length > 0">
    <h2>
        Recent Files
    </h2>

    <div class="form-group">
        <span class="help-block">
            You can configure automatically opening the last recent file in <a href="/settings" routerLink="/settings">settings</a>.
        </span>
    </div>

    <div *ngFor="let recentFile of recentFiles; trackBy: trackChildren">
        <p class="btn-group form-group">
            <button class="btn btn-default btn-file" (click)="openFile(recentFile.getFullPath())">
                {{ recentFile.getFileName() }}
            </button>
            <button class="btn btn-danger" title="Remove item from history" (click)="deleteRecentFile(recentFile)">
                <span class="icon icon-cross"></span>
            </button>
        </p>
    </div>

</div>
