@font-face
{
    font-family: "OpenSans-Regular";
    src:    local("OpenSans-Regular"),
            url("fonts/open-sans/font.woff2"),
            url("fonts/open-sans/font.woff"),
            url("fonts/open-sans/font.ttf");
}

body,
header,
header p
{
    margin: 0;
    padding: 0;
}

body
{
    font: normal 16px "OpenSans-Regular",sans-serif;
}

main
{
    padding: 1em;
    padding-top: 0;
}

a
{
    color: #025ff4;
}

/*
    Bootstrap theme overrides
*/

.btn-primary
{
    background: #000;
}

.btn-primary:hover,
.btn-primary:focus
{
    background: #666;
    border-color: none;
}
