<!--
    Heading for when opening new host
-->

<h1 *ngIf="currentMode == 'open'">
    <span class="icon icon-folder"></span>
    Remote File - SSH
</h1>
<p *ngIf="currentMode == 'open'">
    This will download a copy of a remote database, and allow you to synchronize changes - all using SSH.
</p>

<!--
    Heading for when creating new host for an open database
-->
<h1 *ngIf="currentMode == 'new'">
    <span class="icon icon-earth"></span>
    New Host
</h1>
<p *ngIf="currentMode == 'new'">
    This will add a new host to which your current database will be synchronized. If a different database exists,
    the two will be merged. If no database exists, the current one is uploaded.
</p>

<!--
    Heading for when editing an already existing host
-->
<h1 *ngIf="currentMode == 'edit'" routerLink="/sync">
    <span class="icon icon-earth"></span>
    Edit Host
</h1>


<!--
    Error messages, spinners etc
-->

<div *ngIf="showSpinner">
    <p class="text-center">
        <span class="icon icon-loop2 icon-connecting"></span>
    </p>
    <p class="text-center">
        Synchronizing...
    </p>
    <p class="text-center">
        <button class="btn btn-danger" (click)="syncService.abort()">
            <span class="icon icon-cross"></span>
            Abort
        </button>
    </p>
</div>

<log *ngIf="log != null" [log]="log"></log>


<!--
    Form
-->

<form id="openRemoteSsh" *ngIf="!showSpinner" [formGroup]="openForm" #form="ngForm" [ngClass]="{ 'was-validated' : form.submitted && form.valid }" novalidate>

    <div class="form-group">
        <label class="form-control-label" for="name">
            Profile Name
        </label>
        <input id="name"
               formControlName="name"
               type="text"
               class="form-control"
               placeholder="The name of this remote sync configuration..."
               [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['name'].valid }"
        />
        <p *ngIf="!openForm.controls['name'].valid">
            Must be between 1 to 128 characters in length.
        </p>
    </div>

    <p *ngIf="currentMode == 'edit'">
        <button class="btn btn-primary" (click)="syncService.sync(profile, false)">
            <span class="icon icon-download"></span>
            Sync
        </button>
        <button class="btn btn-primary" (click)="syncService.sync(profile, true)" title="Asks for any required auth (database password, user pass, key pass)">
            <span class="icon icon-lock"></span>
            Prompt for Auth &amp; Sync
        </button>
        <button class="btn btn-primary" (click)="syncService.unlock(profile)" title="Removes remote lock file, use with caution">
            <span class="icon icon-hammer"></span>
            Delete Lock
        </button>
        <button class="btn btn-primary" (click)="syncService.overwrite(profile)" title="Overwrites remote database with this current database">
            <span class="icon icon-upload"></span>
            Overwrite
        </button>
        <button class="btn btn-danger" (click)="syncService.delete(profile);" title="Delete host">
            <span class="icon icon-cross"></span>
            Delete
        </button>
    </p>

    <div class="card">
        <div class="card-header">
            Connection Details
        </div>
        <div class="card-body">

            <label class="form-control-label">
                Host
            </label>

            <div class="form-inline">
                <label class="sr-only" for="host">
                    Host
                </label>
                <input id="host"
                       formControlName="host"
                       type="text"
                       class="form-control mb-2 mr-sm-1"
                       placeholder="Hostname..."
                       [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['host'].valid }"
                />
                <label class="sr-only" for="port">
                    Port
                </label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Port
                        </div>
                    </div>
                    <input id="port"
                           formControlName="port"
                           type="number"
                           class="form-control"
                           placeholder="Port..."
                           [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['port'].valid }"
                    />
                </div>
            </div>

            <div class="form-group">
                <label class="form-control-label" for="user">
                    User
                </label>
                <input id="user"
                       formControlName="user"
                       type="text"
                       class="form-control"
                       placeholder="Username..."
                       [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['user'].valid }"
                />
            </div>

            <div class="form-group">
                <label class="form-control-label" for="userPass">
                    Pass
                </label>
                <input id="userPass"
                       formControlName="userPass"
                       type="password"
                       class="form-control"
                       placeholder="Only required for password authentication"
                       minlength="1" maxlength="128"
                       [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['userPass'].valid }"
                />
            </div>

            <div class="form-group">
                <label class="form-label" for="privateKeyPath">
                    Private Key
                </label>
                <div class="input-group">
                    <input id="privateKeyPath"
                           formControlName="privateKeyPath"
                           type="text"
                           class="form-control"
                           placeholder="Only required for key file auth..."
                           [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['privateKeyPath'].valid }"
                    />
                    <span class="input-group-btn">
                        <button class="btn btn-default form-control" type="button" (click)="selectPrivateKey()">
                            Choose
                        </button>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="privateKeyPass">
                    Password
                </label>
                <input id="privateKeyPass"
                       formControlName="privateKeyPass"
                       type="password"
                       class="form-control"
                       placeholder="The password for your private key..."
                       [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['privateKeyPass'].valid }"
                />
            </div>

            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input type="checkbox"
                           id="promptUserPass"
                           class="form-check-input"
                           formControlName="promptUserPass"
                    />
                    <label class="form-check-label">
                        Prompt for user password
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox"
                           id="promptKeyPass"
                           class="form-check-input"
                           formControlName="promptKeyPass"
                    />
                    <label class="form-check-label">
                        Prompt for private key password
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox"
                           id="strictHostChecking"
                           class="form-check-input"
                           formControlName="strictHostChecking"
                    />
                    <label class="form-check-label">
                        Strict host public key checking
                    </label>
                </div>
                <p>
                    <small class="form-text text-muted">
                        When prompt is enabled for user or/and private key password, automatic synchronizing is not available.
                    </small>
                </p>
            </div>

        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Paths
        </div>
        <div class="card-body">

            <div class="form-group">
                <label class="form-label" for="remotePath">
                    Remote Path
                </label>
                <input id="remotePath"
                       formControlName="remotePath"
                       type="text"
                       class="form-control"
                       placeholder="The remote path to the database file..."
                       [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['remotePath'].valid }"
                />
            </div>

            <div class="form-group" *ngIf="this.currentMode == 'open'">
                <label class="form-label" for="destinationPath">
                    Destination Path
                </label>
                <div class="input-group">
                    <input id="destinationPath"
                           formControlName="destinationPath"
                           type="text"
                           class="form-control"
                           placeholder="The path of where the local instance will be saved..."
                           [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['destinationPath'].valid }"
                    />
                    <span class="input-group-btn">
                        <button class="btn btn-default form-control" type="button">
                            Choose
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Proxy
        </div>
        <div class="card-body">

            <div class="form-inline">
                <label class="sr-only" for="host">
                    Proxy Host
                </label>
                <input id="proxyHost"
                       formControlName="proxyHost"
                       type="text"
                       class="form-control mb-2 mr-sm-2"
                       placeholder="Proxy hostname..."
                       [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['proxyHost'].valid }"
                />
                <label class="sr-only" for="proxyHost">
                    Proxy Port
                </label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Port
                        </div>
                    </div>
                    <input id="proxyPort"
                           formControlName="proxyPort"
                           type="number"
                           class="form-control"
                           placeholder="Proxy port..."
                           [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['proxyPort'].valid }"
                    />
                </div>
                <label class="sr-only" for="proxyType">
                    Proxy Type
                </label>
                <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            Type
                        </div>
                    </div>
                    <select id="proxyType"
                            formControlName="proxyType"
                            class="form-control">
                        <option>None</option>
                        <option>SOCKS4</option>
                        <option>SOCKS5</option>
                        <option>HTTP</option>
                    </select>
                </div>
            </div>

        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Synchronizing
        </div>
        <div class="card-body">

            <div class="form-group">
                <label class="form-control-label">
                    Machine Filter
                </label>
                <input id="machineFilter"
                       formControlName="machineFilter"
                       type="text"
                       class="form-control"
                       placeholder="Leave empty to disable filter"
                       [ngClass]="{ 'is-invalid' : form.submitted && !openForm.controls['machineFilter'].valid }"
                />
                <small class="form-text text-muted">
                    Restricts which machines will automatically synchronize using this profile. You can enter a single
                    hostname, or a comma/space separated list.
                </small>
            </div>

        </div>
    </div>

    <p class="text-center">
        {{ errorMessage }}
    </p>
    <p class="text-center">
        {{ successMessage }}
    </p>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-lg btn-primary" (click)="persist()">
            <span class="icon icon-floppy-disk"></span>
            {{ currentMode == 'open' ? 'Open' : currentMode == 'edit' ? 'Save' : 'Add' }}
        </button>
    </div>

    <div class="form-group text-center" [ngClass]="{ 'has-error' : errorMessage != null, 'has-success' : successMessage != null }">

        <button type="button" class="btn btn-default" (click)="actionCancel()">
            Cancel
        </button>

        <button type="button" class="btn btn-default" (click)="performTest()">
            Test
        </button>

    </div>

</form>
