<div [formGroup]="changePasswordForm" #form="ngForm">

    <div class="form-group">
        <label class="form-control-label" for="newPassword">
            New password:
        </label>
        <input id="newPassword"
               type="password"
               class="form-control"
               placeholder="Leave empty to not change"
               formControlName="newPassword"
        />
    </div>
    <div class="form-group">
        <label class="form-control-label" for="newPasswordConfirm">
            Confirm password:
        </label>
        <input id="newPasswordConfirm"
               type="password"
               class="form-control"
               placeholder="Type again to confirm"
               formControlName="newPasswordConfirm"
        />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="changePassword()">
            Update
        </button>
    </div>
    <p>
        After changing your password, you will need to perform an Auth Sync with any remote hosts, specifying
        your old password.
    </p>

</div>
