<div class="panel panel-default">
    <div class="panel-body">
        <form [formGroup]="randomOptions" (ngSubmit)="generate($event)" #form="ngForm">

            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox" formControlName="useNumbers" /> Numbers
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" formControlName="useUppercase" /> Upper-case
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" formControlName="useLowercase" /> Lower-case
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" formControlName="useSpecialChars" /> Special Characters
                </label>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="randomMinLength">
                            Min. Length
                        </label>
                        <input type="number" id="randomMinLength"
                               class="form-control"
                               formControlName="minLength"
                        />
                    </div>
                    <div class="form-group">
                        <label for="randomMaxLength">
                            Max. Length
                        </label>
                        <input type="number" id="randomMaxLength"
                               class="form-control"
                               formControlName="maxLength"
                        />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-default" data-toggle="collapse" data-target="#generateRandomContainer">
                    Close
                </button>
                <button class="btn btn-primary" (click)="generate()">
                    Generate
                </button>
            </div>

        </form>
    </div>
</div>
