<h1>
    <span class="icon icon-earth"></span>
    Sync
</h1>

<div *ngIf="!isSyncing()">

    <div class="form-group">
        <button class="btn btn-default" routerLink="/sync/ssh/new">
            <span class="icon icon-plus"></span>
            Add
        </button>
    </div>

    <table class="table sync" *ngIf="profiles.length > 0" id="remoteSyncTargets">
        <tr *ngFor="let profile of profiles; trackBy: trackChildren">
            <td>
                <button class="btn btn-primary" (click)="syncService.sync(profile, false)">
                    <span class="icon icon-download"></span>
                </button>
            </td>
            <td routerLink="/sync/ssh/{{ profile.id }}">
                <a routerLink="/sync/ssh/{{ profile.id }}" title="{{ profile.id }}">
                    {{ profile.name }}
                </a>
            </td>
        </tr>
    </table>

    <p *ngIf="profiles.length == 0">
        Add a remote database to synchronize changes across multiple device.
    </p>

</div>

<div *ngIf="isSyncing()">

    <p class="text-center">
        <span class="icon icon-loop2 icon-connecting"></span>
    </p>

    <p class="text-center">
        Synchronizing {{ syncService.getLastHostSynchronizing() }} ...
    </p>

    <p class="text-center">
        <button class="btn btn-danger" (click)="abort()">
            <span class="icon icon-cross"></span>
            Abort
        </button>
    </p>

</div>

<!--
    Changelog
-->

<div *ngIf="syncResults != null && syncResults.length > 0">
    <h2 class="mt-5 mb-3">
        Change Log
    </h2>

    <p>
        <button class="btn btn-default" (click)="copySyncLogToClipboard()">
            <span class="icon icon-clipboard"></span>
            Copy to Clipboard
        </button>
        <button class="btn btn-default" (click)="syncResultService.clear()">
            <span class="icon icon-bin"></span>
            Clear
        </button>
    </p>

    <changeLog [syncResults]="syncResults"></changeLog>
</div>
