table tr td:first-child
{
    padding-left: 0;
}

table tr td:last-child
{
    padding-right: 0;
}

table tr:nth-child(1) td
{
    border-top: none;
}

table.sync tr td
{
    white-space: nowrap;
    vertical-align: middle;
}

table.sync tr td:nth-child(2)
{
    width: 50%;
}

table.sync tr td:nth-child(3)
{
    width: 50%;
}

#changeLog
{
    height: 14em;
}

.icon-connecting
{
    display: inline-block;
    font-size: 4em;

    /* shared with loading-box.css */
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
