<h1>
    <span class="icon icon-earth"></span>
    Sync
</h1>

<p>
    Sync your database with multiple remote hosts.
</p>

<div *ngIf="!isSyncing()">

    <table class="table sync" *ngIf="profiles.length > 0" id="remoteSyncTargets">
        <tr *ngFor="let profile of profiles; trackBy: trackChildren">
            <td>
                <button class="btn btn-primary" (click)="sync(profile, false)">
                    <span class="icon icon-download"></span>
                    Sync
                </button>
            </td>
            <td>
                {{ profile.name }}
            </td>
            <td class="text-right">
                <div>
                    <button class="btn btn-primary" (click)="sync(profile, true)" title="Asks for any required auth (database password, user pass, key pass)">
                        <span class="icon icon-lock"></span>
                        Auth Sync
                    </button>
                    <button class="btn btn-primary" routerLink="/sync/ssh/{{ profile.id }}" title="Edit host">
                        <span class="icon icon-pencil"></span>
                        Edit
                    </button>
                    <button class="btn btn-danger" (click)="delete(profile);" title="Delete host">
                        <span class="icon icon-cross"></span>
                        Delete
                    </button>
                </div>
                <div class="mt-2">
                    <button class="btn btn-primary" (click)="unlock(profile)" title="Removes remote lock file, use with caution">
                        <span class="icon icon-hammer"></span>
                        Delete Lock
                    </button>
                    <button class="btn btn-primary" (click)="overwrite(profile)" title="Overwrites remote database with this current database">
                        <span class="icon icon-upload"></span>
                        Overwrite
                    </button>
                </div>
            </td>
        </tr>
    </table>

    <div class="form-group text-center">
        <button class="btn btn-default" routerLink="/sync/ssh/new">
            <span class="icon icon-plus"></span>
            Add New
        </button>
    </div>

</div>

<div *ngIf="isSyncing()">

    <p class="text-center">
        <span class="icon icon-loop2 icon-connecting"></span>
    </p>

    <p class="text-center">
        Synchronizing {{ remoteSyncService.getLastHostSynchronizing() }} ...
    </p>

    <p class="text-center">
        <button class="btn btn-danger" (click)="abort()">
            <span class="icon icon-cross"></span>
            Abort
        </button>
    </p>

</div>

<h2 class="mb-3">
    Change Log
</h2>

<p *ngIf="syncResults != null && syncResults.length > 0">
    <button class="btn btn-default" (click)="copySyncLogToClipboard()">
        <span class="icon icon-clipboard"></span>
        Copy to Clipboard
    </button>
    <button class="btn btn-default" (click)="remoteSyncResultService.clear()">
        <span class="icon icon-bin"></span>
        Clear
    </button>
</p>

<changeLog [syncResults]="syncResults"></changeLog>
