<h1>
    <span class="icon icon-earth"></span>
    Sync
</h1>

<p>
    Synchronize changes across multiple devices.
</p>

<div *ngIf="!isSyncing()">

    <h2 class="mt-4 mb-3">
        Profiles
    </h2>

    <div class="form-group">
        <button class="btn btn-default" routerLink="/sync/ssh/new" title="Add a new profile to synchronize with a remote database over SSH">
            <span class="icon icon-plus"></span>
            Add remote database via SSH
        </button>
    </div>

    <table class="table sync" *ngIf="profiles.length > 0" id="remoteSyncTargets">
        <tr *ngFor="let profile of profiles; trackBy: trackChildren">
            <td>
                <button class="btn btn-primary"
                        (click)="syncService.sync(syncService.getDefaultSyncOptions(), profile.id)"
                        title="Synchronizes this profile.">
                    <span class="icon icon-download"></span>
                </button>
            </td>
            <td routerLink="/sync/ssh/{{ profile.id }}">
                <a routerLink="/sync/ssh/{{ profile.id }}" title="Edits the profile, id: {{ profile.id }}">
                    {{ profile.name }}
                </a>
            </td>
        </tr>
    </table>

</div>

<div *ngIf="isSyncing()">

    <p class="text-center">
        <span class="icon icon-loop2 icon-connecting"></span>
    </p>

    <p class="text-center">
        Synchronizing {{ syncService.getLastHostSynchronizing() }} ...
    </p>

    <p class="text-center">
        <button class="btn btn-danger" (click)="abort()" title="Abort the current profile(s) being synchronized">
            <span class="icon icon-cross"></span>
            Abort
        </button>
    </p>

</div>

<!--
    Changelog
-->

<div *ngIf="syncResults != null && syncResults.length > 0">
    <h2 class="mt-4 mb-3">
        Change Log
    </h2>

    <p>
        <button class="btn btn-default" (click)="copySyncLogToClipboard()" title="Copy the change-log to your clipboard">
            <span class="icon icon-clipboard"></span>
            Copy to Clipboard
        </button>
        <button class="btn btn-default" (click)="syncResultService.clear()" title="Clear the change-log">
            <span class="icon icon-bin"></span>
            Clear
        </button>
    </p>

    <changeLog [syncResults]="syncResults"></changeLog>
</div>
