<h1>
    settings
</h1>

<form [formGroup]="settingsForm" (ngSubmit)="save($event)" #form="ngForm">
    <h2>
        recent files
    </h2>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox"
                   id="recentFilesEnabled"
                   formControlName="recentFilesEnabled"
                   [(ngModel)]="settingsForm.value['recentFilesEnabled']"
            />
            Enabled
        </label>
        <label class="checkbox-inline">
            <input type="checkbox"
                   id="recentFilesOpenLastOnStartup"
                   formControlName="recentFilesOpenLastOnStartup"
                   [(ngModel)]="settingsForm.value['recentFilesOpenLastOnStartup']"
            />
            Open last file on startup
        </label>
    </div>

    <h2>
        automatic backups
    </h2>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox"
                   id="automaticBackupsOnSave"
                   formControlName="automaticBackupsOnSave"
                   [(ngModel)]="settingsForm.value['automaticBackupsOnSave']"
            />
            Backup on save
        </label>
    </div>
    <div class="form-group">
        <label class="form-control-label" for="automaticBackupsRetained">
            Maximum backups retained
        </label>
        <input id="automaticBackupsRetained"
               type="number"
               class="form-control"
               placeholder="Leave empty for unlimited"
               formControlName="automaticBackupsRetained"
               [(ngModel)]="settingsForm.value['automaticBackupsRetained']"
        />
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" (click)="save()">
            Save
        </button>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : errorMessage != null, 'has-success' : successMessage != null }">
        <span class="help-block">{{ errorMessage }}</span>
        <span class="help-block">{{ successMessage }}</span>
    </div>

</form>
