.loading-box
{
    display: table;
    text-align: center;
    font-size: 2em;
    padding: 0.5em;
    width: 100vw;
    height: 100vh;
    color: #666;
    overflow: hidden;
    background: #333;
}

.loading-box .content
{
    display: table-cell;
    vertical-align: middle;
}

.loading-box .logo
{
    display: block !important;
    margin: 0.2em auto;
    width: 3.5em;
    height: 3.5em;

    position: relative;
    left: 0.25em;
}

.loading-box .text
{
    color: #ccc;
}

.loading-box .info
{
    font-size: 0.8em;
    color: #666;
}
