<div *ngIf="backupService.isBackupOpen()" class="banner">

    <div class="iconc">
        <span class="icon icon-warning"></span>
    </div>

    <div class="text">
        Current database is a backup, some features have been disabled.
    </div>

    <div class="options">
        <button class="btn btn-danger" (click)="delete()">
            <span class="icon icon-bin"></span>
            Delete
        </button>
        <button class="btn btn-default" (click)="restore()">
            <span class="icon icon-undo2"></span>
            Restore
        </button>
        <button class="btn btn-default" (click)="backToMain()">
            <span class="icon icon-folder-upload"></span>
            Back to Main
        </button>
    </div>

</div>
