<header>
    <div class="actions">

        <div class="general-file" *ngIf="!databaseService.isOpen()">
            <a routerLink="open" title="Open">
                <span class="icon icon-folder"></span>
            </a>
            <a routerLink="create" title="Create">
                <span class="icon icon-file-text2"></span>
            </a>
        </div>

        <div class="db-open" *ngIf="databaseService.isOpen()">
            <a routerLink="viewer" title="Viewer">
                <span class="icon icon-search"></span>
            </a>
            <a routerLink="save" title="Save">
                <span class="icon icon-floppy-disk"></span>
            </a>
            <a routerLink="options" title="Options">
                <span class="icon icon-cog"></span>
            </a>
            <a routerLink="close" title="Close">
                <span class="icon icon-exit"></span>
            </a>
        </div>

    </div>

    <div class="current-file" [innerText]="databaseService.getFileName()">
        undefined file
    </div>

    <div class="options">
                <span class="version">
                    version 1.x.x
                </span>
        <a routerLink="help">
            <span class="icon icon-question"></span>
        </a>
    </div>

</header>
