<header>
    <p class="actions">
        <a routerLink="viewer" *ngIf="databaseService.isOpen">
            <span class="icon icon-search"></span>
            viewer
        </a>
        <a routerLink="create">
            <span class="icon icon-newspaper"></span>
            create
        </a>
        <a routerLink="open">
            <span class="icon icon-folder"></span>
            open
        </a>
        <a routerLink="save" *ngIf="databaseService.isOpen">
            <span class="icon icon-floppy-disk"></span>
            save
        </a>
        <a routerLink="options" *ngIf="databaseService.isOpen">
            <span class="icon icon-cog"></span>
            options
        </a>
        <a (click)="exit()">
            <span class="icon icon-exit"></span>
            exit
        </a>
    </p>
    <p class="current-file" [innerText]="databaseService.test()">
        undefined file
    </p>
    <p class="options">
                <span class="version">
                    version 1.x.x
                </span>
        <a routerLink="help">
            <span class="icon icon-question"></span>
        </a>
    </p>
</header>
