<header>
    <p class="actions">
        <a href="">
            <span class="icon icon-newspaper"></span>
            create
        </a>
        <a href="">
            <span class="icon icon-folder"></span>
            open
        </a>
        <a href="">
            <span class="icon icon-floppy-disk"></span>
            save
        </a>
        <a href="">
            <span class="icon icon-cog"></span>
            options
        </a>
        <a href="">
            <span class="icon icon-exit"></span>
            exit
        </a>
    </p>
    <p class="current-file">
        current-file.parrot
    </p>
    <p class="options">
                <span class="version">
                    version 1.x.x
                </span>
        <a [routerLink]="help">
            <span class="icon icon-question"></span>
        </a>
    </p>
</header>
