<div class="form-group">
    <button class="btn btn-default" (click)="addNewEntry()">
        Add New Entry
    </button>
    <button class="btn btn-danger" (click)="deleteSelected()">
        Delete Selected
    </button>
</div>

<table class="table entries" id="currentValueEntries">
    <tr>
        <th>
            <input type="checkbox" *ngIf="currentNode.getChildCount() != 0" (change)="deleteSelectAll($event)" />
        </th>
        <th>
            Name
        </th>
        <th>
            Value
        </th>
        <th>
            Options
        </th>
    </tr>

    <tr *ngIf="!isChildren()">
        <td colspan="4">
            None
        </td>
    </tr>

    <tr *ngFor="let node of getFilteredChildren(); trackBy: trackChildren">
        <td>
            <input type="checkbox" attr.data-node-id="{{ node.getId() }}" />
        </td>
        <td>
            <span (click)="changeNodeBeingViewed.emit(node.getId())">
                {{ node.getName() != null ? node.getName() : "(unnamed)" }}
            </span>
        </td>
        <td>
            <toggle-value [encryptedValue]="node.getValue()"></toggle-value>
        </td>
        <td>
            <button class="btn btn-primary" (click)="changeNodeBeingViewed.emit(node.getId())" title="View entry">
                View
            </button>
            <copy-clipboard [encryptedValue]="node.getValue()"></copy-clipboard>
            <send-keys [encryptedValue]="node.getValue()"></send-keys>
            <button class="btn btn-danger" (click)="deleteEntry(node.getId())" title="Delete">
                <span class="icon icon-cross"></span>
            </button>
        </td>
    </tr>

</table>
