<h1 *ngIf="currentNode == null">
    open - remote (ssh)
</h1>

<h1 *ngIf="currentNode != null">
    remote-sync - edit
</h1>

<p *ngIf="currentNode == null">
    This will copy a remote database, using SSH, to your local filesystem.
</p>

<form id="openRemoteSsh" [formGroup]="openForm" (ngSubmit)="open($event)" #form="ngForm">
    <div class="form-group">

        <div class="form-group">
            <label class="form-control-label" for="name">
                Name
            </label>

            <input id="name"
                   formControlName="name"
                   type="text"
                   class="form-control"
                   placeholder="The name of this remote sync configuration..."
                   minlength="1" maxlength="128"
            />
        </div>

        <label class="form-control-label">
            Host
        </label>

        <div class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="host">
                    Host
                </label>
                <input id="host"
                       formControlName="host"
                       type="text"
                       class="form-control"
                       placeholder="Hostname..."
                       minlength="1" maxlength="128"
                />
            </div>
            <div class="form-group">
                <label class="sr-only" for="port">
                    Port
                </label>
                <input id="port"
                       formControlName="port"
                       type="number"
                       class="form-control"
                       placeholder="Port..."
                       minlength="1" maxlength="5"
                />
            </div>
        </div>

    </div>

    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" id="strictHostChecking" formControlName="strictHostChecking" />
            Strict host key checking
        </label>
    </div>

    <div class="form-group">
        <label class="form-control-label" for="user">
            User
        </label>

        <input id="user"
               formControlName="user"
               type="text"
               class="form-control"
               placeholder="Username..."
               minlength="1" maxlength="128"
        />
    </div>

    <div class="form-group">
        <label class="form-control-label" for="userPass">
            Pass
        </label>

        <input id="userPass"
               formControlName="userPass"
               type="password"
               class="form-control"
               placeholder="Only required for pass authentication"
               minlength="1" maxlength="128"
               (change)="updatePromptForPasswordCheckboxes()"
        />
    </div>

    <div class="form-group">
        <label class="form-label" for="remotePath">
            Remote Path
        </label>
        <input id="remotePath"
               formControlName="remotePath"
               type="text"
               class="form-control"
               placeholder="The remote path to the database file..."
        />
    </div>

    <div class="form-group">
        <label class="form-label" for="destinationPath">
            Destination Path
        </label>
        <div class="input-group">
            <input id="destinationPath"
                   formControlName="destinationPath"
                   type="text"
                   class="form-control"
                   placeholder="The path of where the local instance will be saved..."
            />
            <span class="input-group-btn">
                <button class="btn btn-default form-control" type="button">
                    Choose
                </button>
            </span>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="form-label" for="privateKey">
                    Private Key
                </label>
                <div class="input-group">
                    <input id="privateKey"
                           formControlName="privateKey"
                           type="text"
                           class="form-control"
                           placeholder="Only required for key file auth..."
                    />
                    <span class="input-group-btn">
                <button class="btn btn-default form-control" type="button">
                    Choose
                </button>
            </span>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label" for="privateKeyPass">
                    Password
                </label>
                <input id="privateKeyPass"
                       formControlName="privateKeyPass"
                       type="password"
                       class="form-control"
                       placeholder="The password for your private key..."
                       (change)="updatePromptForPasswordCheckboxes()"
                />
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <label class="form-control-label">
                    Proxy
                </label>

                <div class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="host">
                            Proxy Host
                        </label>
                        <input id="proxyHost"
                               formControlName="proxyHost"
                               type="text"
                               class="form-control"
                               placeholder="Proxy hostname..."
                               minlength="1" maxlength="128"
                        />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="port">
                            Proxy Port
                        </label>
                        <input id="proxyPort"
                               formControlName="proxyPort"
                               type="number"
                               class="form-control"
                               placeholder="Proxy port..."
                               minlength="1" maxlength="5"
                        />
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="port">
                            Proxy Type
                        </label>
                        <select id="proxyType"
                                formControlName="proxyType"
                                type="number"
                                class="form-control"
                                minlength="1" maxlength="5"
                        >
                            <option>None</option>
                            <option>SOCKS4</option>
                            <option>SOCKS5</option>
                            <option>HTTP</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" id="saveAuth" formControlName="saveAuth" (change)="updatePromptForPasswordCheckboxes()" />
            Save auth (key and password) to database
        </label>
        <label class="checkbox-inline" *ngIf="!openForm.value['saveAuth']d">
            <input type="checkbox" id="promptUserPass" formControlName="promptUserPass" [(ngModel)]="openForm.value['promptUserPass']" />
            Prompt for user password
        </label>
        <label class="checkbox-inline" *ngIf="!openForm.value['saveAuth']">
            <input type="checkbox" id="promptKeyPass" formControlName="promptKeyPass" [(ngModel)]="openForm.value['promptKeyPass']" />
            Prompt for key password
        </label>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error' : errorMessage != null }">

        <button type="submit" class="btn btn-primary">
            {{ currentNode != null ? 'Update' : 'Open' }}
        </button>

        <button class="btn btn-default" (click)="actionCancel()">
            Cancel
        </button>

        <span class="help-block">{{ errorMessage }}</span>

    </div>

</form>
