<h1>
    <span class="icon icon-database"></span>
    Backups
</h1>

<p>
    You can configure the destination and automatic backups in <a href="/settings" routerLink="/settings/backups">settings</a>.
</p>

<p class="mb-4">
    <button class="btn btn-default" (click)="create()">
        <span class="icon icon-floppy-disk"></span>
        Create Backup
    </button>
    <button class="btn btn-danger">
        <span class="icon icon-bin"></span>
        Wipe All
    </button>
</p>

<p *ngIf="!isBackups()" class="text-center">
    No backups created.
</p>

<div *ngIf="isBackups()">
    <table class="table">
        <tr>
            <th>
                Created
            </th>
            <th>
                Options
            </th>
        </tr>
        <tr *ngFor="let file of (backupFiles | orderBy: ['-name']); trackBy: trackChildren">
            <td title="{{ file.lastModified | formattedDate }}">
                {{ file.lastModified | friendlyTime }}
            </td>
            <td>
                <button class="btn btn-default" (click)="open(file)">
                    <span class="icon icon-folder"></span>
                    Open
                </button>
                <button class="btn btn-default" (click)="restore(file)">
                    <span class="icon icon-undo2"></span>
                    Restore
                </button>
                <button class="btn btn-danger" (click)="delete(file)">
                    <span class="icon icon-cross"></span>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>
