<div class="card mb-3">
    <div class="card-body">
        <form [formGroup]="randomOptions" #form="ngForm">

            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input type="checkbox"
                           class="form-check-input"
                           formControlName="useNumbers"
                    />
                    <label class="form-check-label">
                        Numbers
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox"
                           class="form-check-input"
                           formControlName="useUppercase"
                    />
                    <label class="form-check-label">
                        Upper-case
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox"
                           class="form-check-input"
                           formControlName="useLowercase"
                    />
                    <label class="form-check-label">
                        Lower-case
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox"
                           class="form-check-input"
                           formControlName="useSpecialChars"
                    />
                    <label class="form-check-label">
                        Special Characters
                    </label>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="randomMinLength">
                            Min. Length
                        </label>
                        <div class="col-sm-2">
                            <input type="number" id="randomMinLength"
                                   class="form-control"
                                   formControlName="minLength"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="randomMaxLength">
                            Max. Length
                        </label>
                        <div class="col-sm-2">
                            <input type="number" id="randomMaxLength"
                                   class="form-control"
                                   formControlName="maxLength"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" (click)="generate()">
                    Generate
                </button>
                <button class="btn btn-default" data-toggle="collapse" data-target="#generateRandomContainer">
                    Close
                </button>
            </div>

        </form>
    </div>
</div>
