<h1>
    backups
</h1>

<p>
    you can configure the destination and automatic backups in <a href="/settings" routerLink="/settings">settings</a>.
</p>

<p class="text-center">
    <button class="btn btn-default btn-lg" (click)="create()">
        Backup Now
    </button>
</p>

<p *ngIf="!isBackups()" class="text-center">
    No backups created.
</p>

<div class="row" *ngIf="isBackups()">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <table class="table">
            <tr>
                <th class="text-center">
                    created
                </th>
                <th>
                    options
                </th>
            </tr>
            <tr *ngFor="let file of (backupFiles | orderBy: ['-getName()']); trackBy: trackChildren">
                <td class="text-center">
                    {{ file.getCreated() }}
                </td>
                <td>
                    <button class="btn btn-default" (click)="open(file)">
                        Open
                    </button>
                    <button class="btn btn-danger" (click)="delete(file)">
                        Delete
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-xs-3"></div>
</div>
