<header>
    <div class="actions">

        <div class="general-file" *ngIf="!databaseService.isOpen()">
            <a tabindex="1" routerLink="/open" title="Open datanase" routerLinkActive="selected">
                <span class="icon icon-folder"></span>
                Open
            </a>
            <a tabindex="2" routerLink="/create" title="Create database" routerLinkActive="selected">
                <span class="icon icon-file-text2"></span>
                Create
            </a>
        </div>

        <div class="db-open" *ngIf="databaseService.isOpen()">
            <a tabindex="1" title="Browse entries" routerLink="/viewer" routerLinkActive="selected">
                <span class="icon icon-search"></span>
                Browse
            </a>
            <a tabindex="3" title="Sync to remote hosts" routerLink="/remote-sync" routerLinkActive="selected">
                <span class="icon icon-earth"></span>
                Sync
            </a>
            <a tabindex="2" title="Backups of database" routerLink="/backups" routerLinkActive="selected">
                <span class="icon icon-database"></span>
                Backups
            </a>
            <a tabindex="4" title="Import/export entries" routerLink="/import-export" routerLinkActive="selected">
                <span class="icon icon-copy"></span>
                Import/Export
            </a>
        </div>

        <div class="db-open" *ngIf="databaseService.isOpen()">
            <a *ngIf="isSaveButtonNeeded()" tabindex="5" title="Save Database" (click)="saveDatabase(false)" [ngClass]="{ 'dirty' : databaseService.isDirty() }">
                <span class="icon icon-floppy-disk"></span>
                Save
            </a>
            <a tabindex="6" title="Sync now" (click)="remoteSyncService.syncAll()" *ngIf="!remoteSyncService.isSyncing()">
                <span class="icon icon-download3"></span>
                Sync Now
            </a>
            <a tabindex="6" title="Syncing" routerLink="/remote-sync" *ngIf="remoteSyncService.isSyncing()">
                <span class="icon icon-loop2 syncing"></span>
                Syncing...
            </a>
            <a tabindex="7" title="Close current database" (click)="attemptToCloseDatabase(false)">
                <span class="icon icon-exit"></span>
                Close
            </a>
        </div>

    </div>

    <div class="options">
        <a tabindex="9" *ngIf="runtimeService.isDevelopmentMode()" title="Refresh" (click)="devReload()">
            <span class="icon icon-loop2"></span>
            Dev Refresh
        </a>
        <a tabindex="8" routerLink="/settings" title="Settings" routerLinkActive="selected">
            <span class="icon icon-cog"></span>
            Settings
        </a>
        <a tabindex="10" routerLink="help" routerLinkActive="selected">
            <span class="icon icon-question"></span>
            Help
        </a>
    </div>

</header>
