header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 12em;
    height: 100%;
    background: #333;
    color: #ccc;
    overflow: hidden;
    z-index: 99999;
}

header .actions
{
    text-align: left;
}

header .options
{
    position: fixed;
    width: 12em;
    bottom: 0;
    left: 0;
}

header div a
{
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1em 1em;
    cursor: pointer;
}

header div a span.icon
{
    position: relative;
    margin-right: 0.4em;
    top: 0.1em;
}

header div a:hover,
header div a:focus,
header div a.selected
{
    color: #fff;
    background: #666;
}

header div.bottom
{
    bottom: 0;
    background: red;
}

.dirty,
.syncing
{
    color: #ff5733 !important;
}

.syncing
{
    display: inline-block;

    /* shared with loading-box.css */
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
