<div [formGroup]="globalSettingsForm" #form="ngForm">
    <div class="form-group">
        <label class="form-control-label" for="automaticBackupsRetained">
            Maximum backups retained
        </label>
        <input id="automaticBackupsRetained"
               type="number"
               class="form-control"
               placeholder="Leave empty for unlimited"
               formControlName="automaticBackupsRetained"
               [(ngModel)]="globalSettingsForm.value['automaticBackupsRetained']"
        />
        <small class="form-text text-muted">
            After the maximum, older backups are deleted. Leave empty for no limit.
        </small>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox"
                   class="form-check-input"
                   id="automaticBackupsOnSave"
                   formControlName="automaticBackupsOnSave"
                   [(ngModel)]="globalSettingsForm.value['automaticBackupsOnSave']"
            />
            <label class="form-check-label">
                Backup on save
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="form-control-label">
            Delay in seconds when saved
        </label>
        <input id="automaticBackupDelay"
               type="number"
               class="form-control"
               placeholder="Leave empty to disable"
               formControlName="automaticBackupDelay"
               [(ngModel)]="globalSettingsForm.value['automaticBackupDelay']"
        />
        <small class="form-text text-muted">
            Useful when automatic saving is enabled, as to prevent creating a backup for each small
            change. Leave empty for no delay.
        </small>
    </div>
    <div class="form-group">
        <label class="form-control-label">
            Remote backups retained
        </label>
        <input id="remoteBackupsRetained"
               type="number"
               class="form-control"
               placeholder="Leave empty to disable"
               formControlName="remoteBackupsRetained"
               [(ngModel)]="globalSettingsForm.value['remoteBackupsRetained']"
        />
        <small class="form-text text-muted">
            Leave as zero or empty to disable.
        </small>
        <small class="form-text text-muted">
            When uploading a new merged version of the database, the old version will be kept as a backup on the
            remote server. The file name will be renamed from e.g. example to .example.12345, where
            the number is a time-stamp.
        </small>
    </div>
</div>
