@font-face
{
    font-family: "OpenSans-Regular";
    src:    local("OpenSans-Regular"),
            url("fonts/open-sans/font.woff2"),
            url("fonts/open-sans/font.woff"),
            url("fonts/open-sans/font.ttf");
}

body,
header,
header p
{
    margin: 0;
    padding: 0;
}

body
{
    font: normal 16px "OpenSans-Regular",sans-serif;

    /* Disable general text selection, adds to feel of real desktop app */
    -webkit-user-select: none;
}

main
{
    padding: 0 1em 1em 1em;
}

main h1
{
    margin-top: 0.3em;
}

a
{
    color: #ff5733;
}

/*
    Bootstrap theme overrides
*/

.btn-primary
{
    background: #333;
    color: #fff;
    border-color: #333;
}

.btn-primary:hover,
.btn-primary:focus
{
    background: #666;
    border-color: #666;
}

.btn-danger
{
    background: #ff5733;
}

/*
    toastr theme overrides
*/

.toast-top-center
{
    margin-top: 1em;
}

/*
    jstree theme overrides
*/

.jstree-default .jstree-clicked
{
    background: #ddd;
}

.jstree-anchor
{
    color: #666 !important;
}

.jstree-anchor .icon
{
    color: #999;
}
