<div class="form-group">
    <button class="btn btn-danger" (click)="clearAll()">
        <span class="icon icon-bin"></span>
        Clear History
    </button>
</div>

<table class="table">
    <tr>
        <th>
            Created
        </th>
        <th>
            Value
        </th>
        <th>
            Options
        </th>
    </tr>

    <tr *ngIf="history.length == 0">
        <td colspan="3">
            None
        </td>
    </tr>

    <tr *ngFor="let historicValue of (history | orderBy: ['-lastModified']); trackBy: trackChildren">
        <td title="{{ historicValue.lastModified | formattedDate }}">
            {{ historicValue.lastModified | friendlyTime }}
        </td>
        <td>
            <toggle-value [nodeId]="currentNode.id" [encryptedValue]="historicValue"></toggle-value>
        </td>
        <td>

            <!-- copy to clipboard button -->
            <copy-clipboard [nodeId]="currentNode.id" [encryptedValue]="historicValue"></copy-clipboard>

            <!-- restore button -->
            <button class="btn btn-default" (click)="restore(historicValue)">
                Restore
            </button>

            <!-- delete button -->
            <button class="btn btn-danger" (click)="delete(historicValue)">
                <span class="icon icon-cross"></span>
                Delete
            </button>

        </td>
    </tr>

</table>
