<h1>
    open - remote (ssh)
</h1>

<div class="form-group">
    <label class="form-control-label" for="host">
        Host
    </label>

    <div class="input-group">
        <input id="host"
               type="text"
               class="form-control"
               placeholder="Full hostname..."
               minlength="1" maxlength="128"
        />
        <input id="pass"
               type="number"
               class="form-control"
               placeholder="Port"
               minlength="1" maxlength="5"
        />
    </div>

</div>

<div class="form-group">
    <label class="form-control-label" for="user">
        User
    </label>

    <input id="user"
           type="text"
           class="form-control"
           placeholder="The full hostname..."
           minlength="1" maxlength="128"
    />
</div>

<div class="form-group">
    <label class="form-control-label" for="pass">
        Pass
    </label>

    <input id="pass"
           type="text"
           class="form-control"
           placeholder="Only required for pass authentication"
           minlength="1" maxlength="128"
    />
</div>

<div class="form-group">
    <label class="form-label" for="keyfile">
        Key File
    </label>
    <div class="input-group">
        <input id="keyfile" type="text" class="form-control" />
        <span class="input-group-btn">
            <button class="btn btn-default form-control" type="button">
                Find
            </button>
        </span>
    </div>
</div>
