<h1>
    remote sync
</h1>

<table class="table remote-sync">
    <tr>
        <td>
            <input type="checkbox" />
        </td>
        <td>
            key name
        </td>
        <td>
            host:ip
        </td>
        <td>
            <a class="btn btn-primary">
                Edit
            </a>
            <a class="btn btn-danger">
                Delete
            </a>
        </td>
    </tr>
</table>

<div class="form-group">
    <button class="btn btn-primary">
        Sync
    </button>
</div>

<h2>
    changelog
</h2>

<div class="form-group">
    <textarea class="form-control" disabled="disabled">

    </textarea>
</div>
