<h1>
    remote sync
</h1>

<p>
    Sync your database with multiple remote hosts.
</p>

<table class="table remote-sync" *ngIf="isTargets()" id="remoteSyncTargets">
    <tr *ngFor="let node of remoteSyncNode.getChildren(); trackBy: trackChildren">
        <td>
            <input type="checkbox" attr.data-node-id="{{ node.getId() }}" checked="checked" />
        </td>
        <td>
            {{ node.getName() }}
        </td>
        <td>
            {{ getHostName(node) }}
        </td>
        <td>
            <a class="btn btn-primary" routerLink="/remote-sync/ssh/{{ node.getId() }}">
                Edit
            </a>
            <a class="btn btn-danger" (click)="node.remove();">
                Delete
            </a>
        </td>
    </tr>
</table>

<div class="form-group">
    <button class="btn btn-primary" *ngIf="isTargets()" (click)="sync()">
        Sync
    </button>
    <button class="btn btn-default" routerLink="/remote-sync/ssh/new">
        Add New
    </button>
</div>

<h2>
    changelog
</h2>

<p>
    When syncing, a list of changes will be listed below.
</p>

<div class="form-group">
    <textarea class="form-control" id="changeLog" disabled="disabled" scroll-glue>{{ remoteSyncChangeLogService.getChangeLog() }}</textarea>
</div>

<div class="form-group">
    <button class="btn btn-default">
        Copy to Clipboard
    </button>
    <button class="btn btn-default" (click)="remoteSyncChangeLogService.clear()">
        Clear
    </button>
</div>
