/*
    Layout of editor header
*/

.header
{
    display: table;
    font-size: 2em;
    padding: 0.4em 0.2em 0.2em 0;
    width: 100%;
    font-weight: bold;
}

.header .button,
.header .title
{
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
}

.header .title
{
    width: 100%;
    color: #666;
}

.header .btn .icon
{
    margin: 0;
}

p
{
    margin-left: 0.5em;
}

p .icon
{
    padding-right: 0.5em;
}


/*
    Title input field in header
*/

.title-input
{
    border: none;
    padding: 0.1em 0.2em;
    width: 100%;
    background: none;
}

.title-input:hover,
.title-input:focus
{
    outline: solid 1px #ccc;
}

/*
    Input for an entry's value
*/
#currentValue
{
    min-height: 1em;
    max-height: 30em;
}

/*
    Spacing for stacked option buttons
*/
.options
{
    margin-bottom: 1em;
}
